@if (@Model.Count == 0)
{
  <h3>We don't have any available Stylists in at this time, sorry.</h3>
}



  <h1>Available Stylists</h1>
  @foreach (var stylist in @Model)
  {
    <li><a href="/stylists/@stylist.GetId()">@stylist.GetName()</a>|<a href="/stylist/edit/@stylist.GetId()">Edit</a>|<form action="/stylist/delete/@stylist.GetId()" method="post"><input type="hidden" name="_method" value="DELETE"><button type="submit">Delete</button></form></li>
  }

  <h2>Add Stylist</h2>
  <form action="/stylists/new" method="post">
  <label for="stylist-name">Stylist Name:</label>
  <input id="stylist-name" name="stylist-name" type="text">
  <button type="submit">Add</button>
  <hr>
  <h4><a href="/">Return Home</a></h4>
